name: igraph
channels:
  - conda-forge
  - defaults
dependencies:
  - abseil-cpp=20200225.2=ha925a31_2
  - affine=2.3.0=py_0
  - argon2-cffi=20.1.0=py38h294d835_2
  - arrow-cpp=2.0.0=py38h647f3f1_6_cpu
  - async_generator=1.10=py_0
  - attrs=20.3.0=pyhd3deb0d_0
  - aws-c-common=0.4.59=h8ffe710_1
  - aws-c-event-stream=0.1.6=hb4e73fc_6
  - aws-checksums=0.1.10=h6f0a1a5_0
  - aws-sdk-cpp=1.8.70=he2782d2_1
  - backcall=0.2.0=pyh9f0ad1d_0
  - backports=1.0=py_2
  - backports.functools_lru_cache=1.6.1=py_0
  - bleach=3.2.1=pyh9f0ad1d_0
  - bokeh=2.2.3=py38haa244fe_0
  - boost-cpp=1.74.0=h54f0996_1
  - branca=0.4.1=py_0
  - brotli=1.0.9=ha925a31_3
  - brotlipy=0.7.0=py38hab1e662_1001
  - bzip2=1.0.8=h8ffe710_4
  - c-ares=1.17.1=h8ffe710_0
  - ca-certificates=2021.5.30=h5b45459_0
  - cairo=1.16.0=hd28d34b_1006
  - cartopy=0.18.0=py38h5ec0ca1_5
  - certifi=2021.5.30=py38haa244fe_0
  - cffi=1.14.4=py38hd8c33c5_1
  - cfitsio=3.470=h0af3d06_7
  - chardet=3.0.4=py38h9bdc248_1008
  - click=7.1.2=pyh9f0ad1d_0
  - click-plugins=1.1.1=py_0
  - cligj=0.7.1=pyhd8ed1ab_0
  - cloudpickle=1.6.0=py_0
  - colorama=0.4.4=pyh9f0ad1d_0
  - contextily=1.0.1=py_0
  - cryptography=3.2.1=py38hd8c33c5_0
  - curl=7.71.1=h4b64cdc_8
  - cycler=0.10.0=py_2
  - cytoolz=0.11.0=py38h294d835_1
  - dask=2.30.0=py_0
  - dask-core=2.30.0=py_0
  - decorator=4.4.2=py_0
  - defusedxml=0.6.0=py_0
  - descartes=1.1.0=py_4
  - dill=0.3.3=pyhd8ed1ab_0
  - distributed=2.30.1=py38haa244fe_0
  - entrypoints=0.3=pyhd8ed1ab_1003
  - et_xmlfile=1.0.1=py_1001
  - expat=2.2.9=h33f27b4_2
  - feather-format=0.4.1=pyh9f0ad1d_0
  - fiona=1.8.18=py38h60f4e94_0
  - folium=0.11.0=py_0
  - freetype=2.10.4=h546665d_0
  - freexl=1.0.5=hd288d7e_1002
  - fsspec=0.8.4=py_0
  - future=0.18.2=py38haa244fe_3
  - gdal=3.1.4=py38h8f7194f_0
  - geographiclib=1.50=py_0
  - geojson=2.5.0=py_0
  - geopandas=0.8.1=py_0
  - geopy=2.0.0=pyh9f0ad1d_0
  - geos=3.8.1=he025d50_0
  - geotiff=1.6.0=h8884d1a_3
  - gettext=0.19.8.1=h1a89ca6_1005
  - gflags=2.2.2=ha925a31_1004
  - glib=2.66.3=h0e60522_1
  - glog=0.4.0=h0174b99_3
  - grpc-cpp=1.33.2=h59b151f_1
  - hdf4=4.2.13=hf8e6fe8_1003
  - hdf5=1.10.6=nompi_h5268f04_1112
  - heapdict=1.0.1=py_0
  - icu=67.1=h33f27b4_0
  - idna=2.10=pyh9f0ad1d_0
  - importlib-metadata=3.1.1=pyhd8ed1ab_0
  - importlib_metadata=3.1.1=hd8ed1ab_0
  - intel-openmp=2020.3=h57928b3_311
  - ipykernel=5.3.4=py38h7b7c402_1
  - ipython=7.19.0=py38hc5df569_0
  - ipython_genutils=0.2.0=py_1
  - ipywidgets=7.5.1=pyh9f0ad1d_1
  - jdcal=1.4.1=py_0
  - jedi=0.17.2=py38haa244fe_1
  - jinja2=2.11.2=pyh9f0ad1d_0
  - joblib=0.17.0=py_0
  - jpeg=9d=h8ffe710_0
  - json5=0.9.5=pyh9f0ad1d_0
  - jsonschema=3.2.0=py_2
  - jupyter=1.0.0=py_2
  - jupyter_client=6.1.7=py_0
  - jupyter_console=6.2.0=py_0
  - jupyter_core=4.7.0=py38haa244fe_0
  - jupyterlab=2.2.9=py_0
  - jupyterlab_pygments=0.1.2=pyh9f0ad1d_0
  - jupyterlab_server=1.2.0=py_0
  - kealib=1.4.13=h3b59ab9_1
  - kiwisolver=1.3.1=py38hbd9d945_0
  - krb5=1.17.2=hbae68bd_0
  - libblas=3.8.0=21_mkl
  - libcblas=3.8.0=21_mkl
  - libclang=10.0.1=default_hf44288c_1
  - libcurl=7.71.1=h4b64cdc_8
  - libffi=3.3=h0e60522_1
  - libflang=5.0.0=h6538335_20180525
  - libgdal=3.1.4=h0e5aa5a_0
  - libglib=2.66.3=h8c8e623_1
  - libiconv=1.16=he774522_0
  - libkml=1.3.0=he9e54da_1012
  - liblapack=3.8.0=21_mkl
  - libnetcdf=4.7.4=nompi_h2ee746f_106
  - libpng=1.6.37=h1d00b33_2
  - libpq=12.3=hd9aa61d_2
  - libprotobuf=3.13.0.1=h200bbdf_0
  - libsodium=1.0.18=h8d14728_1
  - libspatialindex=1.9.3=he025d50_3
  - libspatialite=5.0.0=hf693123_0
  - libssh2=1.9.0=hb06d900_5
  - libthrift=0.13.0=hdfef310_6
  - libtiff=4.1.0=hc10be44_6
  - libutf8proc=2.6.0=hcb41399_0
  - libwebp-base=1.1.0=h8ffe710_3
  - libxml2=2.9.10=h1006b36_2
  - llvm-meta=5.0.0=0
  - locket=0.2.0=py_2
  - lz4-c=1.9.2=h62dcd97_2
  - m2w64-gcc-libgfortran=5.3.0=6
  - m2w64-gcc-libs=5.3.0=7
  - m2w64-gcc-libs-core=5.3.0=7
  - m2w64-gmp=6.1.0=2
  - m2w64-libwinpthread-git=5.0.0.4634.697f757=2
  - markupsafe=1.1.1=py38hab1e662_2
  - matplotlib=3.3.3=py38haa244fe_0
  - matplotlib-base=3.3.3=py38h34ddff4_0
  - mercantile=1.1.6=pyh9f0ad1d_0
  - mistune=0.8.4=py38h294d835_1002
  - mkl=2020.4=hb70f87d_311
  - msgpack-python=1.0.0=py38hbd9d945_2
  - msys2-conda-epoch=20160418=1
  - multiprocess=0.70.11.1=py38h294d835_0
  - munch=2.5.0=py_0
  - nbclient=0.5.1=py_0
  - nbconvert=6.0.7=py38haa244fe_3
  - nbformat=5.0.8=py_0
  - nest-asyncio=1.4.3=pyhd8ed1ab_0
  - networkx=2.5=py_0
  - notebook=6.1.5=py38haa244fe_0
  - numpy=1.19.4=py38h0cc643e_1
  - olefile=0.46=pyh9f0ad1d_1
  - openjpeg=2.3.1=h57dd2e7_3
  - openmp=5.0.0=vc14_1
  - openpyxl=3.0.5=py_0
  - openssl=1.1.1k=h8ffe710_0
  - osmnx=0.16.2=pyhd3deb0d_0
  - packaging=20.4=pyh9f0ad1d_0
  - pandas=1.1.4=py38h4c96930_0
  - pandoc=2.11.2=h8ffe710_0
  - pandocfilters=1.4.2=py_1
  - parquet-cpp=1.5.1=2
  - parso=0.7.1=pyh9f0ad1d_0
  - partd=1.1.0=py_0
  - pathos=0.2.7=pyhd3deb0d_0
  - patsy=0.5.1=py_0
  - pcre=8.44=ha925a31_0
  - pickleshare=0.7.5=py_1003
  - pillow=8.0.1=py38hd8d9125_0
  - pip=20.3=pyhd8ed1ab_0
  - pixman=0.40.0=h8ffe710_0
  - plotly=4.14.1=pyhd3deb0d_0
  - poppler=0.89.0=h5d62644_1
  - poppler-data=0.4.10=0
  - postgresql=12.3=he14cc48_2
  - pox=0.2.9=pyhd3deb0d_0
  - ppft=1.6.6.3=pyhd3deb0d_0
  - proj=7.1.1=h7d85306_3
  - prometheus_client=0.9.0=pyhd3deb0d_0
  - prompt-toolkit=3.0.8=pyha770c72_0
  - prompt_toolkit=3.0.8=hd8ed1ab_0
  - psutil=5.7.3=py38hab1e662_0
  - pyarrow=2.0.0=py38ha37a76c_6_cpu
  - pycairo=1.20.0=py38h7e31434_1
  - pycparser=2.20=pyh9f0ad1d_2
  - pygeos=0.8=py38h9764186_1
  - pygments=2.7.2=py_0
  - pyopenssl=20.0.0=pyhd8ed1ab_0
  - pyparsing=2.4.7=pyh9f0ad1d_0
  - pyproj=2.6.1.post1=py38hbdc76b6_3
  - pyqt=5.12.3=py38h7ae7562_4
  - pyrsistent=0.17.3=py38h294d835_1
  - pyshp=2.1.2=pyh9f0ad1d_0
  - pysocks=1.7.1=py38h9bdc248_2
  - python=3.8.6=h7840368_1_cpython
  - python-dateutil=2.8.1=py_0
  - python-igraph=0.8.3=py38h0d6bca7_2
  - python_abi=3.8=1_cp38
  - pytz=2020.4=pyhd8ed1ab_0
  - pywin32=228=py38h1e8a9f7_0
  - pywinpty=0.5.7=py38h32f6830_1
  - pyyaml=5.3.1=py38hab1e662_1
  - pyzmq=20.0.0=py38h7a0e47e_1
  - qt=5.12.9=hb2cf2c5_0
  - qtconsole=5.0.1=pyhd8ed1ab_0
  - qtpy=1.9.0=py_0
  - rasterio=1.1.8=py38h5653988_0
  - rasterstats=0.14.0=py_0
  - re2=2020.11.01=h0e60522_0
  - requests=2.25.0=pyhd3deb0d_0
  - retrying=1.3.3=py_2
  - rioxarray=0.1.1=pyhd8ed1ab_0
  - rtree=0.9.4=py38h8b54edf_2
  - scikit-learn=0.24.0=py38ha09990b_0
  - scipy=1.5.3=py38h5f893b4_0
  - seaborn=0.11.0=h57928b3_1
  - seaborn-base=0.11.0=pyhd8ed1ab_1
  - send2trash=1.5.0=py_0
  - setuptools=49.6.0=py38h9bdc248_2
  - shapely=1.7.1=py38hc96c142_1
  - simplejson=3.17.2=py38h1e8a9f7_1
  - six=1.15.0=pyh9f0ad1d_0
  - snappy=1.1.8=ha925a31_3
  - snuggs=1.4.7=py_0
  - sortedcontainers=2.3.0=pyhd8ed1ab_0
  - sqlite=3.33.0=he774522_1
  - statsmodels=0.12.1=py38h347fdf6_1
  - tblib=1.6.0=py_0
  - terminado=0.9.1=py38haa244fe_1
  - testpath=0.4.4=py_0
  - texttable=1.6.3=pyh9f0ad1d_0
  - threadpoolctl=2.1.0=pyh5ca1d4c_0
  - tiledb=2.1.3=h968eb34_0
  - tk=8.6.10=he774522_1
  - toolz=0.11.1=py_0
  - tornado=6.1=py38h294d835_0
  - tqdm=4.61.2=pyhd8ed1ab_1
  - traitlets=5.0.5=py_0
  - typing_extensions=3.7.4.3=py_0
  - urllib3=1.25.11=py_0
  - vc=14.1=h869be7e_1
  - vs2015_runtime=14.16.27012=h30e32a0_2
  - wcwidth=0.2.5=pyh9f0ad1d_2
  - webencodings=0.5.1=py_1
  - wheel=0.36.0=pyhd3deb0d_0
  - widgetsnbextension=3.5.1=py38haa244fe_4
  - win_inet_pton=1.1.0=py38h32f6830_1
  - wincertstore=0.2=py38h32f6830_1005
  - winpty=0.4.3=4
  - xarray=0.19.0=pyhd8ed1ab_1
  - xerces-c=3.2.3=ha925a31_1
  - xlrd=1.2.0=pyh9f0ad1d_1
  - xz=5.2.5=h62dcd97_1
  - yaml=0.2.5=he774522_0
  - zeromq=4.3.3=h0e60522_3
  - zict=2.0.0=py_0
  - zipp=3.4.0=py_0
  - zlib=1.2.11=h62dcd97_1010
  - zstd=1.4.5=h1f3a1b7_2
  - pip:
    - pyqt5-sip==4.19.18
    - pyqtchart==5.12
    - pyqtwebengine==5.12.1
prefix: C:\Users\groen_fe\.conda\envs\igraph
