[tool.poetry]
name = "ra2ce"
version = "0.1.0"
description = "Risk Assessment  and Adaptation for Critical infrastructurE."
authors = ["Your Name <you@example.com>"]
license = "GNU General Public License v3"

[tool.poetry.dependencies]
python = "^3.8"
affine = "^2.3.1"
click = "^8.1.3"
Fiona = "^1.8.21"
future = "^0.18.2"
geojson = "^2.5.0"
geopy = "^2.2.0"
numpy = "^1.23.3"
networkx = "^2.8.6"
pandas = "^1.4.4"
pyarrow = "^9.0.0"
rasterio = "^1.3.2"
rasterstats = "^0.17.0"
Rtree = "^1.0.0"
seaborn = "^0.12.0"
Shapely = "^1.8.4"
tqdm = "^4.64.1"
openpyxl = "^3.0.10"
xlrd = "^2.0.1"
xarray = "^2022.6.0"
geopandas = "^0.11.1"
osmnx = "0.16.*"

[tool.poetry.dev-dependencies]
pytest = "^7.1.3"
isort = "^5.10.1"
commitizen = "^2.32.5"
flake8 = "^5.0.4"
mypy = "^0.971"
black = "^22.8.0"

[tool.black]
line-length = 88
target-version = ['py38', 'py39']
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | \.virtualenvs
  )/
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88

[tool.commitizen]
name = "cz_conventional_commits"
changelog_file = "docs/changelog.rst"
update_changelog_on_bump = true
version = "0.1.0"
tag_format = "v$major.$minor.$patch"
version_files= [
    "ra2ce/__init__.py",
    "pyproject.toml:version",]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
