[tool.poetry]
name = "ra2ce"
version = "0.4.3"
description = "Risk Assessment and Adaptation for Critical infrastructurE (RA2CE)."
authors = ["Margreet van Marle <Margreet.vanMarle@deltares.nl>"]
maintainers = [
  "Frederique de Groen <frederique.degroen@deltares.nl>",
  "Kees van Ginkel <kees.vanginkel@deltares.nl>",
  "Carles Salvador Soriano Perez <carles.sorianoperez@deltares.nl>",
]
license = "GPL-3.0-or-later"
readme = "README.rst"
repository = "https://github.com/Deltares/ra2ce"
documentation = "https://ra2ce.readthedocs.io/en/latest/"
classifiers = [
  'Development Status :: 2 - Pre-Alpha',
  'Intended Audience :: Developers',
  'License :: OSI Approved :: GNU General Public License v3 (GPLv3)',
  'Natural Language :: English',
  'Programming Language :: Python :: 3',
  'Programming Language :: Python :: 3.10'
]
packages = [{include = "ra2ce"}]

[tool.poetry.scripts]
run_ra2ce = "ra2ce.run:main"

[tool.poetry.dependencies]
python = "^3.9, <3.11"
affine = "^2.3.1"
click = "^8.1.3"
geojson = "^2.5.0"
geopy = "^2.2.0"
numpy = "^1.23.3"
networkx = "^2.8.6"
pandas = "^1.4.4"
pyarrow = "^9.0.0"
rasterio = "^1.3.2"
rasterstats = "^0.17.0"
Rtree = "^1.0.0"
seaborn = "^0.12.0"
Shapely = "^1.8.4"
tqdm = "^4.64.1"
openpyxl = "^3.0.10"
xlrd = "^2.0.1"
xarray = "^2022.6.0"
geopandas = "^0.11.1"
osmnx = "0.16.*"
scipy = "^1.9.1"
GDAL = "3.5.1"
fiona = "1.8.21"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
isort = "^5.10.1"
commitizen = "^2.32.5"
flake8 = "^5.0.4"
mypy = "^0.971"
black = "^22.8.0"
pytest-cov = "^3.0.0"
urllib3 = "1.26.15"
teamcity-messages = "^1.32"


[tool.poetry.group.docs.dependencies]
jupytext = "^1.14.5"
nbsphinx = "^0.9.1"
myst-parser = "^1.0.0"
sphinx = "6.2.1"
sphinx-book-theme = "^1.0.1"
sphinx-copybutton = "^0.5.2"
sphinx-rtd-theme = "^1.2.0"
sphinx-autosummary-accessors = "^2023.4.0"
sphinx-design = "^0.4.1"


[tool.poetry.group.test.dependencies]
testbook = "^0.4.2"

[tool.black]
line-length = 88
target-version = ['py38', 'py39']
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | \.virtualenvs
  )/
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88

[tool.commitizen]
name = "cz_conventional_commits"
changelog_file = "docs/changelog.rst"
update_changelog_on_bump = true
version = "0.4.3"
tag_format = "v$major.$minor.$patch"
version_files= [
    "ra2ce/__init__.py",
    "pyproject.toml:version",]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
